@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

* {
    margin: 0;
}
/* Background Animation */
body {
    animation: colors 20s infinite;
  }
@keyframes colors
{
    0%, 100%{
        background-color:red;
    }

    12.5%{
        background-color:orange;
    }

    25%{
        background-color:yellow;
    }
    37.5%{
        background-color:lime;
    }

    50%{
        background-color:green;
    }

    62.5%{
        background-color:cyan;
    }
    75%{
        background-color:blue;
    }
    87.5%{
        background-color:purple;
    }
}


*{
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
}  

html{
    height: 100%;
}

li{
    display:inline;
}


  


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{

    flex: 0 80px;
    background: hsl(0, 0%, 0%);
    color: white;
    border-radius: 5px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
main{
    flex: 1;
    font-size: 30px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    flex: 0 60px;
    text-align:left;
    font-size: 1.5vh;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Sixtyfour', sans-serif;
    font-size: 1fr;
}


