@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

main
{
    display:flex;
    flex-direction:row;
    height:70vh;
    font-size: 2.5vh;
}

#start_game{
    color:rgb(72, 170, 52)   
}

.update_notifications
{
    background-color: gray;
    opacity: 0.5;
    border-radius: 5px;
}

.start_game button
{
    background-color: rgb(30, 119, 119); 
    border: 5px solid rgb(68, 172, 172);
    /* border-left: rgb(197, 215, 221);
    border-top: rgb(68, 148, 175);
    border-bottom: rgb(16, 57, 90);
    border-right: rgb(16, 57, 90); */
    border-radius: 15px;
    color: rgb(73, 11, 73);
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}

.restart_game button
{
    background-color: rgb(22, 15, 87); 
    border: 5px solid rgb(17, 19, 107);
    /* border-left: rgb(197, 215, 221);
    border-top: rgb(68, 148, 175);
    border-bottom: rgb(16, 57, 90);
    border-right: rgb(16, 57, 90); */
    border-radius: 15px;
    color: rgb(222, 243, 36);
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}

.container
{
    display: flex;
}

.update_notifications
{
    flex:1;
    max-width:33.33%;
    padding: 0.25em;
}

.not_update_notifications
{
    flex:2;
    max-width:66.67%;
    padding: 0.25em;
}



