@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

*{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 5vh;
    text-align: center;
}

header{
    text-align: center;
    color: white;
    background-color:black;
    padding: 1em;
}

h1{
    font-family: 'Sixtyfour', sans-serif;
    font-size: 1fr;
}

li{
    display:inline;
}

footer{
    text-align:left;
    font-size: 5vh;
}


/* play.html */
#warning{
    color: rgb(255, 255, 255);
    font-style: bold;
    font-size: 5vh;
    background-color:#d10606;
    border-bottom: black solid thick;
    border-right: black solid thick;
    border-radius: 5px;
}

#start_game{
    color:rgb(226, 93, 226)
    
}

/* Background Animation */
/*head{
    animation: colors 45s infinite;
}

@keyframes colors
{
    from{
        background-color:red;
    }

    12.5%{
        background-color:orange;
    }

    25%{
        background-color:yellow;
    }
    37.5%{
        background-color:lime;
    }

    50%{
        background-color:green;
    }

    62.5%{
        background-color:cyan;
    }
    75%{
        background-color:blue;
    }
    87.5%{
        background-color:purple;
    }
    to{
        background-color:red;
    }
}
*/


/* index.html */
.disabled
{
  opacity: 0.6;
  cursor: not-allowed;
}