@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

*{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 5vh;
    text-align: center;
}

footer{
    text-align:right;
    font-size: 5vh;
}


/* play.html */
#warning{
    color: rgb(105, 8, 8);
    font-style: bold;
    /*background-color:#ffffff;*/
    border: black solid thin;
    border-radius: 2px;
}

#start_game{
    color:rgb(29, 17, 29)
    
}

/* Background Animation */
/*head{
    animation: colors 45s infinite;
}

@keyframes colors
{
    from{
        background-color:red;
    }

    12.5%{
        background-color:orange;
    }

    25%{
        background-color:yellow;
    }
    37.5%{
        background-color:lime;
    }

    50%{
        background-color:green;
    }

    62.5%{
        background-color:cyan;
    }
    75%{
        background-color:blue;
    }
    87.5%{
        background-color:purple;
    }
    to{
        background-color:red;
    }
}